/* @theme hqu */

@charset "UTF-8";
@import 'default';


section {
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    color: var(--color-main);
    text-align: justify; 
}